/* From Uiverse.io by Shoh2008 */ 
.loader {
  display: block;
  width: 84px;
  height: 84px;
  position: relative;
}

.loader:before , .loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #675479;
  background-image:  linear-gradient(to bottom, #3b2364, #291c4b, #231c40, #1e1b35, #1b1a2a, #514061);
  transform: translate(-50% , -100%)  scale(0);
  animation: push_401 2s infinite linear;
}

.loader:after {
  animation-delay: 1s;
}
@media(min-width: 1500px) {
  .loader {
    width: 124px;
    height: 124px;
  }
  
  .loader:before , .loader:after {
    width: 84px;
    height: 84px;
    
  }
  
}

@keyframes push_401 {
  0% , 50% {
    transform: translate(-50% , 0%)  scale(1)
  }

  100% {
    transform: translate(-50%, -100%) scale(0)
  }
}