@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.text-about{
text-wrap: wrap;
}
/* SLIDER */
.image-gallery-slide {
  height: 430px;
  background-color: white;
  border-radius: 12px;
}
.image-gallery-thumbnails-bottom {
  width: 100%;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  border-radius: 12px;
  width: 500px;
  height: 100%;
}
.image-gallery-bullets .image-gallery-bullet {
  background-color: #521f74d0;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  color: #521f74d0;
}

@media (min-width: 1200px) {
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 100px;
    width: 50px;
    color: #521f74d0;
  }
}
@media (min-width: 1500px) {
  .image-gallery-slide {
    height: 530px;
    border-radius: 12px;
    align-self: center;
  }
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    width: 650px;
  }
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 100px;
    width: 50px;
  }
}

/* CUSTOM SCROLLBAR */
#products-container_admin::-webkit-scrollbar {
  width: 10px;
}
#products-container_admin::-webkit-scrollbar-track {
  background: rgb(39, 39, 42);
}
#products-container_admin::-webkit-scrollbar-thumb {
  background-color: #b88425;
  border-radius: 6px;
}

.btn-home2 {
  border-radius: 1.3rem;
  cursor: pointer;
  transition: all 0.3s;
  /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #f1f1f1; */
}

.btn-home2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -5px -5px 12px #ffffff;
}
