@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-home {
  --color: #b8b7b3;
  --color2: #f1a415;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
}
.btn-home::after,
.btn-home::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: all 1s;
  background-color: var(--color);
}

.btn-home::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn-home:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn-home:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn-home:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}
#img-home {
  filter: drop-shadow(20px 20px 20px rgb(255, 255, 255));
}

/* BORDER CARDS */
.card-container {
  border-radius: 16px;
  background-color: white;
}

/* SLIDER */
.image-gallery-slide {
  height: 480px;
}
.image-gallery-thumbnails-bottom {
  width: 100%;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  border-radius: 12px;
  max-width:600px;

}

@media (min-width: 1200px) {
  .image-gallery-slide {
    width: 600px;
    height: 600px;
    border-radius: 12px;
  }
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 100px;
    width: 50px;
  
  }
}

/* CUSTOM SCROLLBAR */
#products-container_admin::-webkit-scrollbar {
  width: 10px;
}
#products-container_admin::-webkit-scrollbar-track {
  background: rgb(39, 39, 42);
}
#products-container_admin::-webkit-scrollbar-thumb {
  background-color: #b88425;
  border-radius: 6px;
}

.btn-home2 {
  border-radius: 1.3rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #f1f1f1;
}

.btn-home2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -5px -5px 12px #ffffff;
}
