@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-home {
  --color: #f1a415;
  --color2: #f1a415;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
}
.btn-home::after,
.btn-home::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: all 1s;
  background-color: var(--color);
}

.btn-home::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn-home:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn-home:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn-home:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

/* BORDER CARDS */
.card-container {
  
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#575654, #e7e2e2) border-box;
  border: 2px solid transparent;
  border-radius: 16px;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


